

  {{!form}}

  <div class="container">
        <div class="row">
            <div class="col-6 offset-3">

               <!--Mensagens :  com handlebars isto indica que estamos trabalhando com partials-->
                {{>mensagens}}

                <form action="/cadastrar"  method="post" enctype="multipart/form-data">
                    <input class="form-control" type="text" name="nome" id="" placeholder="Nome do produto">
                    <input class="form-control" type="number" name="preco" placeholder="preço do produto" id="">

                    <select name="categoria" class="form-control ">
                       <option value="">Categoria do produto</option>
                       <option value="alimenticio">Alimentício</option>
                       <option value="eletronico">Eletrônico</option>
                       <option value="vestuario">Vestuário</option>
                    </select>

                    <input class="form-control" type="file" name="imagem" id="">
                    <button class="btn btn-success btn-sm mt-1" type="submit">Cadastrar</button>

                </form>
            </div>
            
        </div>
      
  </div>
   